Django>=4.2
psycopg2-binary>=2.9.9
djangorestframework
django-crispy-forms>=2.3
crispy-bootstrap4>=2024.10
django-cors-headers>=4.3.0
django-filter>=2.4
channels>=3.0
daphne>=3.0
python-dotenv>=0.21.0
channels_redis>=4.1.0