{% load static %}
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h2>{{ user.username }}'s profile</h2><a href="{% url 'logout' %}">logout</a>
    {% for user in users %}
    {% if user.username != 'admin' %}
    <p>
        {{user.username}}
        <a href="{% url 'chat' username=user.username %}" data-username="{{ user.username }}">chat</a> |
        <a href="#">block</a>
        {% if user.userprofilemodel.online_status %}
        <small id="{{user.username}}_small"><small>online</small></small>
        {% else %}
        <small id="{{user.username}}_small"><small>offline</small></small>
        {% endif %}
    </p>
    {% endif %}
    {% endfor %}
    <p>Currently Online</p>
    <div id="online-users" data-current-user="{{ user.username }}">
        
    </div>
    <script>
        var currentUsername = "{{ user.username }}";  // Now the username is available in JavaScript
    </script>
    <script src="{% static 'chat/online.js' %}"></script>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>

    <h2>{{ user.username }}'s profile</h2><a href="{% url 'logout' %}">logout</a>
    {% for user in users %}
    {% if user.username != 'admin' %}
    <p id="{{ user.username }}_status">
        {{ user.username }}
        <a href="{% url 'chat' username=user.username %}" data-username="{{ user.username }}">chat</a> |
        <a href="#">block</a> | <a href="#">invite</a> | <a href="{% url 'pong' %}" id="{{ user.username }}_play"></a>
        <small><span id="{{ user.username }}_tag"></span></small>
    </p>
    {% endif %}
    {% endfor %}
    <script>
        var currentUsername = "{{ user.username }}";  // Now the username is available in JavaScript
    </script>
    <script src="{% static 'chat/online.js' %}"></script>

</body>
</html>
